body {
	margin: 0;
	
	background-color: #074da2;
	font-family: sans-serif;
}

.head {
	background-color: white;
	text-align: center;
	border-bottom-right-radius: 50px;
}


.answer {
	margin-left: 70px;
	text-align: center;
	background-color: white;
	width:200px;
	height: 30px;
	color: black;
	text-align: center;
}

.val {
	float: right;
	margin: 0;
}

.label {
	float: left;
	padding-left: 7px;
}

.btn {
	background-color: #578dcf;
	width:80px;
	height: 30px;
}

.container {
	color: white;
}

.footer {
	background-color: #372323;
	text-align: center;
	border-top-left-radius: 50px;
	color: white;
}